{{define "init-_layout"}}
{{query `
?[name,path,ord] <- [['Home','/',0],['Counter','/counter',1],['Todos','/todos',2]];
:replace pages{name,path,ord}
` nil}}
{{end}}

{{define "title"}}
<title>{{queryval `?[name] := *pages{name,path:$path}` (dict "path" .URL.Path)}}</title>
{{end}}

{{define "http-get"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  {{template "title" .}}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/static/htmx.org@1.8.4/dist/htmx.js"></script>
</head>

<body class="container mx-auto py-10">
  {{template "body" .}}
</body>

</html>
{{end}}

{{define "htmx-get"}}
{{template "title" .}}
{{template "body" .}}
{{end}}

{{define "nav"}}
<nav class="navbar bg-base-100" hx-target="closest body">
  {{range queryrows `?[name,path,selected,ord] := *pages{name,path,ord},selected=(path==$path) :order ord` (dict "path" .URL.Path)}}
  <a class="btn {{if .selected}}btn-active{{else}}btn-ghost{{end}}" href="{{.path}}" hx-get="{{.path}}"
    hx-push-url="{{.path}}">{{.name}}</a>
  {{end}}
</nav>
{{end}}