{{define "init-counter"}}
{{exec "CREATE TEMP TABLE IF NOT EXISTS counter AS SELECT 0 as c"}}
{{end}}

{{define "body"}}
{{template "nav" .}}
<div class="max-w-xs mx-auto">
  <button class="btn" hx-post="?clicked" hx-swap="innerHTML" hx-target="#inc">Increment Counter</button>
  <div id="inc">
    {{block "clicked" .}}
    {{$c := queryval "SELECT c FROM counter" }}
    <p>Clicked {{ $c }} {{if eq $c 1}}time{{else}}times{{end}}</p>
    {{end}}
  </div>
</div>
{{end}}

{{define "htmx-post-clicked"}}
{{$_ := exec `UPDATE counter SET c = c + 1`}}
{{template "clicked" .}}
{{end}}