{{define "get"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{{ template "title" . }}</title>
  <link rel="stylesheet" href="/static/water.css@2.1.1/out/water.css" />
  <script src="/static/htmx.org@1.8.4/dist/htmx.js"></script>
  <style>
    nav a {
      padding: 1em;
      color: var(--text-bright);
    }

    nav a:hover {
      background-color: var(--button-hover) !important;
    }

    nav a.selected {
      background-color: var(--button-base);
    }
  </style>
</head>

<body>
  {{ template "body" . }}
</body>

</html>
{{end}}

{{define "nav"}}
<nav hx-target="closest body">
  <a href="/" hx-get="/?nav" hx-push-url="/" {{if eq . "about" }}class="selected" {{end}}>About</a>
  <a href="/todos" hx-get="/todos?nav" hx-push-url="/todos" {{if eq . "todos" }}class="selected" {{end}}>Todos</a>
</nav>
{{end}}