{{define "init"}}
{{template "init0"}}
{{query ":create todo{id:Uuid default rand_uuid_v1() => label: String, done: Bool}" nil}}
{{end}}

{{define "body"}}
{{template "nav" .}}
<section>
  <header>
    <h1>Todos</h1>
    {{block "toggleall" .}}
    {{ $alldone := queryval "r[and(done),count(done)] := *todo{done}; ?[alldone] := r[a,c],alldone=a&&c>0" nil}}
    <input id="todos-toggleall" type="checkbox" {{if $alldone}}checked{{end}}
      hx-post="/todos?toggleall" hx-target="this" hx-swap-oob="true" />{{end}}
    {{block "input" .}}<input id="newtodo" name="newtodo" placeholder="What needs to be done?" autofocus required
      hx-post="/todos?new" hx-target="#todos-list" hx-swap="afterbegin" hx-swap-oob="true" />{{end}}
  </header>
  {{block "list" .}}
  <ul id="todos-list" hx-swap-oob="true">
    {{range queryrows "?[id,label,done] := *todo{id,label,done}" nil}}
    {{block "todo" .}}
    <li hx-target="this" hx-swap="outerHTML">
      <input type="checkbox" {{if .done}}checked{{end}} hx-post="/todos?id={{.id}}&toggle" />
      <label>{{.label}}</label>
      <button class="delete" hx-delete="/todos?id={{.id}}"></button>
    </li>
    {{end}}
    {{end}}
  </ul>
  {{end}}
  <footer>
    {{block "count" .}}
    {{$count := queryval "?[count(done)] := *todo{done},done=false" nil}}
    <span id="todos-count" hx-swap-oob="true">
      <strong>{{$count}}</strong> {{if eq $count 1.}}item{{else}}items{{end}} left
    </span>
    {{end}}
    <br />
    {{block "filter" .}}
    <fieldset class="filter" hx-swap="none">
      <legend>Filter</legend>
      {{ range queryrows "?[filter,selected] <- [['all',true],['done',false],['remaining',false]]" nil }} <input
        type="radio" id="filter-{{.filter}}" name="filter" value="{{.filter}}" {{if .selected}}checked{{end}}
        hx-post="./todos?filter={{.filter}}" />
      <label for="filter-{{.filter}}">{{.filter}}</label>
      {{end}}
    </fieldset>
    {{end}}
  </footer>
</section>
{{end}}

{{define "htmx-post-new"}}
{{$todo := .Form.newtodo | idx 0 | queryrow `
{ ?[label,done] := label=$p,done=false; :put todo{label,done} }
{ ?[id,label,done] := *todo{id,done,label},label=$p }`
}}
{{template "todo" $todo}}
{{template "toggleall"}}
{{template "count"}}
{{template "input"}}
{{end}}

{{define "htmx-post-toggleall"}}
{{$_ := query `
alldone[and(done)] := *todo{done}
?[id,done] := alldone[done0],done=!done0,*todo{id}
:update todo{id,done}
` nil}}
{{template "list"}}
{{template "toggleall"}}
{{template "count"}}
{{end}}

{{define "htmx-post-id-toggle"}}
{{$todo := .Form.id | idx 0 | queryrow `
{ ?[id,done] := id=to_uuid($p),*todo{id,done:done0},done=!done0; :update todo{id,done} }
{ ?[id,label,done] := id=to_uuid($p),*todo{id,label,done} }
`}}
{{template "todo" $todo}}
{{template "toggleall"}}
{{template "count"}}
{{end}}

{{define "htmx-delete-id"}}
{{$_ := .Form.id | idx 0 | query `?[id] := id=to_uuid($p); :rm todo{id}`}}
{{template "toggleall"}}
{{template "count"}}
{{end}}

{{define "htmx-post-filter"}}
{$_ := .Form.filter | idx 0 | filter}
{{template "list"}}
{{end}}